body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, black 50%, white 50%);
}
p{
    margin-bottom: 30px;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: silver;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.login-container.show {
    transform: translateY(0);
    opacity: 1;
}

.login-form {
    display: flex;
    flex-direction: column;
}
h1{
    color: #f0f0f0;
    position: fixed;
    margin-bottom: 500px;
}
